/day04.js
/day04data.txt
/day05.js
/day05data.txt
/day06.js
/day06data.txt
/day07.js
/day07data.txt
/day08.js
/day08data.txt
/day09.js
/day09data.txt
/day10.js
/day10data.txt
/day11.js
/day11data.txt
/day12.js
/day12data.txt
/template.js